In [ ]:
NAMA : RIAN SETIAWAN
KELAS : 05TPLM006
NIM : 221011401911
MATA KULIAH : KECERDASAN BUATAN

In [4]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [5]:
companies = [
    {"name": "Company 1"},
    {"name": "Company 3"},
    {"name": "Company 2"}
]

# Sort in reverse order by the "name" key
sorted_companies = sorted(companies, key=lambda x: x["name"], reverse=True)

# Output the result
print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [6]:
companies = [
    {"name": "Company 1", "domain": "Retail (United States)"},
    {"name": "Company 2", "domain": "Technology (United Kingdom)"},
    {"name": "Company 3", "domain": "Healthcare (United States)"}
]

# Print each company's name and domain
for company in companies:
    print(f"{company['name']}: {company['domain']}")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [7]:
companies = [
    {"name": "Company 1", "domain": "Retail", "employees": ["John Doe", "Robert White", "Ying Han Tan"]},
    {"name": "Company 2", "domain": "Technology", "employees": ["Tom Smith", "Rubby Lee"]},
    {"name": "Company 3", "domain": "Healthcare", "employees": ["Kenneth Ng", "Andrew Sebastian"]}
]

# Dictionary to store employees by domain
employees_by_domain = {}

# Populate the dictionary by domain
for company in companies:
    domain = company["domain"]
    employees = company["employees"]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].extend(employees)

# Output the result
print(employees_by_domain)

{'Retail': ['John Doe', 'Robert White', 'Ying Han Tan'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Kenneth Ng', 'Andrew Sebastian']}

In [8]:
companies = [
    {"name": "Company 1", "domain": "Retail", "country": "United States", "employees": ["John Doe", "Robert White", "Ying Han Tan"]},
    {"name": "Company 2", "domain": "Technology", "country": "United Kingdom", "employees": ["Tom Smith", "Rubby Lee"]},
    {"name": "Company 3", "domain": "Healthcare", "country": "United States", "employees": ["Kenneth Ng", "Andrew Sebastian"]}
]

# Function to generate the desired list of employee details
def get_employees_with_country(companies):
    employees_list = []
    
    for company in companies:
        for employee in company["employees"]:
            employees_list.append({
                "full_name": employee,
                "company": company["name"],
                "country": company["country"]
            })
    
    return employees_list

# Call the function and print the result
result = get_employees_with_country(companies)
print(result)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}]

In [9]:
companies = [
    {
        "name": "Company 1",
        "employees": [
            {"name": "John Doe", "nationality": "Australia"},
            {"name": "Robert White", "nationality": "Australia"},
            {"name": "Ying Han Tan", "nationality": "Hong Kong"}
        ]
    },
    {
        "name": "Company 2",
        "employees": [
            {"name": "Tom Smith", "nationality": "Hong Kong"},
            {"name": "Rubby Lee", "nationality": "United States"}
        ]
    },
    {
        "name": "Company 3",
        "employees": [
            {"name": "Kenneth Ng", "nationality": "United States"},
            {"name": "Andrew Sebastian", "nationality": "United States"}
        ]
    }
]

# Function to count employees' nationalities per company
def get_company_employee_nationality(companies):
    result = []
    
    for company in companies:
        nationality_count = {}
        
        for employee in company["employees"]:
            nationality = employee["nationality"]
            if nationality in nationality_count:
                nationality_count[nationality] += 1
            else:
                nationality_count[nationality] = 1
        
        result.append({
            "company": company["name"],
            "employee_nationality": nationality_count
        })
    
    return result

# Call the function and print the result
result = get_company_employee_nationality(companies)
print(result)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'Hong Kong': 1}}, {'company': 'Company 2', 'employee_nationality': {'Hong Kong': 1, 'United States': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]